*{
  box-sizing:border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height:100vh;
  width:100vw;
  -webkit-font-smoothing:antialiased;
  background: rgb(13, 3, 161);
  
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


body {
  
  transition:background 0.4s;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  color:rgb(238, 240, 242) ;
}

h1 {
  color: #B00101;
}

ul {
  list-style:none;
  padding:0;
  margin:0;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:15px;
  position:relative;
  z-index:2;
  flex-wrap:wrap;
}

li {
  cursor:pointer;
  white-space:nowrap;
}

img {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  pointer-events:none;
  z-index:-1;
  opacity:0;  
  transition: all 0.5s;
  width:300px;
}

li:hover img{
  opacity: 1; 
  transform: translate(-50%, -50%) rotate(90deg);
  
}

body.hovering li{
  opacity:0;
}

a{ 
  text-decoration:none;
  color:inherit;  
}

body.hovering li:hover {
  opacity:1;
  color: rgb(238,198,67);
  height: 50vh
}